* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(135, 250, 250);
}

.location {
    width: 100%;
    text-align: center;
}

form {
    margin-left: 30%;
    margin-top: 2%;
}

label {
    font-weight: bold;
}

.today {
    margin-left: 40%;
    margin-top: 3%;
    width: 20%;
    height: 30%;
    background-color: white;
}

.today-weather {
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    justify-items: center;
    row-gap: 5px;
}

.upcoming {
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
    height: 45%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

.daily {
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 5fr;
    grid-template-rows: 80px;
    justify-items: center;
    align-items: center;
}


.icon {
    width: 60px;
}

.temperatures-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

